<div class="news_detail_title">{{title}}</div>
<div class="news-item-infos clearfix">
    <div class="news-item-info">{{formateDate updateDatetime}}</div>
    <div class="news-item-info">{{sendPlatform}}</div>
    <div class="news-item-info">{{updater}}</div>
</div>
